__pycache__/
checkpoints/
checkpoints_test/
CLIP_checkpoints/
conf_mat/
dataset/
dataset_tmp/
fail/
FLAN_CLIP_checkpoints/
FLAN_CLIP_checkpoints_2/
FLAN_CLIP_checkpoints_3/
labeled_data/
models/
test/
test_data_archieve/
training_data/
utils/__pychache__/
train-00001-of-00330.parquet
train-00002-of-00330.parquet
label.ipynb